extends layout

block scripts
  script(src='https://connect.soundcloud.com/sdk/sdk-3.3.2.js')

block content
  h1= title
  #music-box
block foot
  script.
    SC.initialize({
    client_id: 'r5ELVSy3RkcjX7ilaL7n2v1Z8irA9SL8'
    });
    var track_url = 'https://soundcloud.com/joey-dougherty-442864431/shawn-mendes-camila-cabello-senorita-joey-doc-remix';
    SC.oEmbed(track_url, { 
        auto_play: true,
        maxheight: 166
      }).then(function(oEmbed) {
      console.log(oEmbed.html);
      console.log('oEmbed response: ', oEmbed);
      const musicBox = document.getElementById("music-box") ;
      musicBox.innerHTML = oEmbed.html;

    });
